<div *ngFor="let message of messages | async; let i=index " class=" alert alert-success " role="alert ">
  <app-message-alert [message]="message"></app-message-alert>
</div>

<div *ngIf="!(contacts | async)?.length" class=" alert alert-danger " role="alert ">
  There are no contacts!
</div>

<h4 *ngIf="(contacts | async)?.length ">Contact List</h4>
<ul class="list-group ">
  <li *ngFor="let contact of contacts | async; let i=i ndex " class="list-group-item ">
    <app-contact [contact]="contact " [index]="index "></app-contact>
  </li>
</ul>